button.large {
  min-width: 48px;
  min-height: 48px;
}

.small-margin {
  margin: 6px;
}

.timerbutton {
  font-size: 70px;
  font-feature-settings: "tnum" 1;
  font-weight: 100;
}

.black {
  color: #ffffff;
}

.white {
  color: rgba(0, 0, 0, 0.8);
}

.timerbutton.black {
  background-color: @brown_5;
  filter: opacity(1);
}

.timerbutton.white {
  background-color: @brown_1;
  filter: opacity(1);
}

.timerbutton.running {
  font-weight: 300;
}

.timerbutton.expired {
  color: @light_1;
}

.timerbutton.expired.black {
  background-color: @red_4;
}

.timerbutton.expired.white {
  background-color: @red_3;
}

label.colon {
  min-width: 17px;
}
