button.large {
  min-width: 48px;
  min-height: 48px;
}

.small-margin {
  margin: 6px;
}

.timerbutton {
  font-size: 70px;
  font-feature-settings: "tnum" 1;
  font-weight: 100;
  min-width: 240px;
  border-radius: 0;
}

.black {
  color: #ffffff;
}

.white {
  color: rgba(0, 0, 0, 0.8);
}

.inverted box {
  transform: rotate(180deg);
}

.timerbutton.black {
  background-color: @brown_5;
  filter: opacity(1);
}

.timerbutton.white {
  background-color: @brown_1;
  filter: opacity(1);
}

.timerbutton.running {
  font-weight: 300;
}

.expired {
  color: @light_1;
}

.timerbutton.expired.black {
  background-color: @red_4;
}

.timerbutton.expired.white {
  background-color: @red_3;
}

.timerbutton:focus-visible {
  outline: 2px solid;
  outline-offset: -20px;
}

.timerbutton.white:focus-visible {
  outline-color: #1c71d8;
}

.timerbutton.black:focus-visible {
  outline-color: #78aeed;
}

label.colon {
  min-width: 17px;
}

label.time-title {
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 8px;
}

label.time-info{
  margin-bottom: 20px;
}

label.custom-label {
  font-size: 2em;
  min-width: 0.75em;
}

spinbutton.custom-spin {
  font-size: 2em;
  min-width: 0.75em;
}

headerbar.transparent {
  opacity: 0;
}
